<div class="container">
  <div class="panel panel-default panel-custom">
    
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Modificar Zapato</h3>
      <div class="btn-group pull-right">
        <a ui-sref="shoes" class="btn btn-default">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
        <button data-ng-click="submit()" class="btn btn-default">
          <span class="glyphicon glyphicon-ok-circle"></span>
        </button>
      </div>
    </div>
      
    <div class="panel-body">
        <p ng-show="initProgress" class="text-center">Espere por favor &hellip;</p>
        <div ng-show="initProgress" class="progress progress-striped active">  
          <div class="progress-bar" style="width: 100%"></div>
        </div>
        <form kz-submit="edit()" id="shoes-edit-form" class="shoes-form" name="shoeEditForm" ng-show="!initProgress" novalidate>
          <div ng-switch="imagesError.code" ng-show="imagesError.visible" class="alert alert-danger">
            <p ng-switch-when="1" class="text-center">La foto tiene más de 3 MBytes</p>
            <p ng-switch-when="2" class="text-center">El fichero está corrupto o no tiene un formato de imagen válido (png, jpeg o gif)</p>
            <p ng-switch-when="3" class="text-center">No hemos podido guardar la foto</p>
            <p ng-switch-default class="text-center">{{imagesError.msg}}</p>
          </div>
          <div  data-file-dropzone="[image/png, image/jpg, image/jpeg, image/gif]" 
                data-max-file-size="2" 
                data-on-file-change="newFile(file)" 
                data-file-input="true" 
                data-upload-file-text="ARRASTRA TUS FOTOS AQUÍ" 
                data-file-error="imagesError" 
                data-file-loading="progress" 
                data-upload-file-wrapper-class="div.col-lg-12"
                data-read-file-as="data"
                class="row first-row"><div class="col-sm-6 col-md-3" style="margin-top:20px;" ng-repeat="img in $parent.images"><a href="#" class="thumbnail"><img src="{{img.data}}" alt="{{img.name}}"></a><p class="text-center"><span>{{img.name}}</span><span ng-click="$parent.$parent.closeImg($index)" style="margin-left:10px;font-size:20px;cursor:pointer;">&times;</span></p></div>
          </div>
          <div ng-show="progress" class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label>Referencia (*)</label>
              <div ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.reference)}">
                <input type="text" class="form-control" ng-model="reference" placeholder="Referencia" name="reference" ng-pattern="/^[0-9A-Za-z\-\_]{3,}$/" required />
              </div>
              <span class="help-block">Identificador único. Puede utilizar su lector de código de barras.</span>
            </div>
            <div class="col-lg-3">
              <label>Marca (*)</label>
              <div ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.brand)}">
                <input type="text" class="form-control" ng-model="brand" placeholder="Modelo" name="brand" required/>
              </div>
              <span class="help-block">El modelo de fábrica del producto</span>
            </div>
            <div class="col-lg-3">
              <label>Precio (*)</label>
              <div class="input-group" ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.price)}">
                <input type="number" class="form-control" placeholder="Precio" min="0" ng-model="price" name="price" step="0.1" required />
              </div>
              <span class="help-block">Por defecto se utilizan euros.</span>
            </div>
            <div class="col-lg-3">
              <label>Cantidad (*)</label>
              <div ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.quantity)}">
                <input type="number" class="form-control" placeholder="Cantidad" min="1" ng-model="quantity" name="quantity" ng-minlength="1" required />
              </div>
              <span class="help-block">Indique el número de artículos que dispone para este producto</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label>Talla (*)</label>
              <div ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.size)}">
                <input type="number" class="form-control" ng-model="size" name="size" placeholder="Talla" min="18" max="45" required />
                </div>
                <span class="help-block">Tamaño o talla del producto</span>
            </div>
            <div class="col-lg-3">
              <label>Color (*)</label>
              <div ng-class="{'has-error': kz.shoeEditForm.needsAttention(shoeEditForm.color)}">
                <input type="text" class="form-control" ng-model="color" name="color" typeahead="item as item.color for item in colors | filter:$viewValue | limitTo:8" autocomplete="off" typeahead-template-url="searchAutocompleteTpl.html" placeholder="Color" required />
                </div>
                <span class="help-block">El color del producto</span>
            </div>
            <div class="col-lg-3">
              <label>Categoría</label>
              <div>
                <select class="form-control" data-ng-model="category" ng-options="v for v in ['HOMBRES','MUJERES','NIÑOS']" >
                </select>
              </div>
              <span class="help-block">Grupo o categoría a la que pertence el producto</span>
            </div>
            <div class="col-lg-3">
              <label>Temporada</label>
              <div>
                <select class="form-control" data-ng-model="season" ng-options="v for v in ['VERANO','INVIERNO']" >
                </select>
              </div>
              <span class="help-block">Indique si pertenece a la temporada verano o invierno</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label>Fabricante</label>
              <input type="text" class="form-control" data-ng-model="maker" placeholder="Fabricante">
              <span class="help-block">Fabricante del producto</span>
            </div>
            <div class="col-lg-3">
              <label>Proveedor</label>
              <input type="text" class="form-control" ng-model="provider" placeholder="Proveedor">
              <span class="help-block">Proveedor del producto</span>
            </div>
            <div class="col-lg-3">
              <label>Palabras Clave</label>
              <input type="text" class="form-control" ng-model="keywords" placeholder="Keywords">
              <span class="help-block">Indique palabras separadas por coma que hagan referencia al producto. Ej: piel, seminuevo, ganga</span>
            </div>
            <div class="col-lg-3">
              <label>Ubicación</label>
              <input type="text" class="form-control" ng-model="location" placeholder="Ubicación">
              <span class="help-block">Indique el número de la estantería dentro del almacen donde se localiza el producto</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label>Descripción</label>
              <textarea class="form-control" ng-model="description" rows="3"></textarea>
              <span class="help-block">Descripción del producto</span>
            </div>
            <div class="col-lg-6">
              <label>Comentarios</label>
              <textarea class="form-control" ng-model="comments" rows="3"></textarea>
              <span class="help-block">Comentarios del producto</span>
            </div>
          </div>
        </form>
    </div>
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Modificar Zapato</h3>
      <div class="btn-group pull-right">
        <a ui-sref="shoes" class="btn btn-default">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
        <button data-ng-click="create()" class="btn btn-default">
          <span class="glyphicon glyphicon-ok-circle"></span>
        </button>
      </div>
    </div>
  </div>
</div>